@font-face {
    font-family: fa;
    src: url(../fonts/fa/fa-solid-900.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: yeseva;
    src: url(../fonts/yeseva/YesevaOne-Regular.ttf);
}

.degrees::after{
    content: "℃";
}

.fa{
    font-family: fa;
}

.fa.search-btn::after{
    content: "\f002";
}

.fa.my-location-btn::after{
    content: "\f601";
    font-size: 2em;
}

.fa.copy-btn::after{
    content: "\f0c5";
}

.fa.go-btn::after{
    content: "\f3c5";
}

.fa.remove-btn::after{
    content: "\f1f8";
}